{{- $soa := .SOA}}
{{- $records := .Records -}}

$TTL {{.SOA.TTL}}    ; default TTL for zone
$ORIGIN {{.Name}}.  ; base domain-name

; Start of Authority RR defining the key characteristics of the zone (domain)
@       IN      SOA     {{.SOA.PrimaryNS}}. {{.SOA.AdminEmail}}. (
                        {{.SOA.Serial}}                 ; serial number
                        {{.SOA.Refresh}}                       ; refresh
                        {{.SOA.Retry}}                        ; update retry 
                        {{.SOA.Expire}}                     ; expiry
                        {{.SOA.Minimum}}                      ; minimum
                        )

; name server RR for the domain
        IN      NS     ns

; ns record
ns      IN      A       10.224.8.59

{{range $records}}
{{- .Host}} IN {{.Type}} {{.Content}}
{{end}}